<launch>
  <!-- scene configs -->
  <arg name="scene" default="00009"/>
  <arg name="control_panel" default="false"/>
  <arg name="dataset" default="$(env HABITAT_DATASET_PATH)"/>
  <param name="habitat_scene" type="str" value="$(arg scene)" />
  <param name="habitat_dataset" type="str" value="$(arg dataset)" />
  
  <!-- robot configs -->
  <rosparam command="load" file="$(find habitat_ros)/config/oreo.yaml" />
  <rosparam command="load" file="$(find habitat_ros)/config/VLP_16.yaml" />
  <rosparam command="load" file="$(find habitat_ros)/config/rgbcam.yaml" />
  <rosparam command="load" file="$(find habitat_ros)/config/depth_camera.yaml" />
  <rosparam command="load" file="$(find habitat_ros)/config/sick_laser.yaml" />
  <rosparam command="load" file="$(find habitat_ros)/config/semantic_camera.yaml" />
  <rosparam command="load" file="$(find habitat_ros)/config/fake_camera.yaml" />
  
  <!-- simulator -->
  <node pkg="habitat_ros" type="sim.py" name="habitat_simulator" output="screen"/>

  <!-- extra sensor proc nodes -->
  <node pkg="habitat_ros" type="range_to_pointcloud" name="velodyne_vlp_16" />
  <node pkg="habitat_ros" type="range_to_laserscan" name="sick_laser" />

  <!-- depth image to point clouds -->
  <node pkg="nodelet" type="nodelet" args="manager"
          name="nodelet_manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="cloudify"
          args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
      <remap from="depth_registered/image_rect" to="/depth"/>
      <remap from="depth_registered/points" to="camera/depth_registered/points"/>
      <remap from="rgb/image_rect_color" to="/camera"/>
      <remap from="rgb/camera_info" to="/camera_info"/>
  </node>

  <group if="$(arg control_panel)">
    <node pkg="habitat_ros" type="control.py" name="control">
      <remap from="camera" to="fake_camera/compressed"/>
    </node>
  </group>

</launch>
